$black: #000000;
$white: #ffffff;
$primary: #512DA8;
$warn: #FFA726;
$green: #27FB6B;
$red: #FF1744;

$grey-1: #F0F0F0;
$grey-2: #EFEFEF;
$grey-3: #ECECEC;
$grey-4: #CCCCCC;
$grey-5:#BFBFBF;
$indigo: #874BF9;

$gradient: linear-gradient(170deg, #FF3269, #FF794D );
$gradient-flat : linear-gradient(180deg, #FF3269, #FF794D);
$gradient-cashback : linear-gradient(259.17deg, #FF3269, #FF794D);