<style>
  
</style>

<div class="mobile-container" role="main">
  <div class="app-header">
    <a href="#" class="back-btn">
      <img src="../assets/images/back-arrow.svg" alt="">
    </a>
    <button mat-button class="b_gradient btn_gradient">$ 100</button>
  </div>
  <mat-stepper>
    <mat-step>
      <ng-template matStepLabel>Shop</ng-template>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Redeem</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Earn</ng-template>
    </mat-step>
  </mat-stepper>
</div>


<router-outlet></router-outlet>
